@import "tailwindcss";



.rdw-editor-main {
  direction: ltr !important;
  text-align: left !important;
}



/*  */
/* @media screen and (min-width:850px ) {
#teacher-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
} */